<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @property.title %>
</p>

<p>
  <b>Description:</b>
  <%= @property.description %>
</p>

<p>
  <b>Price:</b>
  <%= @property.price %>
</p>

<p>
  <b>City name:</b>
  <%= @property.city_name %>
</p>


<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
